<div id="div-form">
    <h2>Cadastro de Corrida</h2>
    <h2>{{editar? 'Alterar': 'Cadastrar' }} Corrida </h2>

    <form id="form-corrida" (submit)='dadosFormulario()'>
        <label for="descricao-corrida">Descrição da Corrida</label>
        <textarea name="descricao" id="descricao" [(ngModel)] = "descricaoCorrida"></textarea>

        <label for="data">Data da Corrida</label>
        <input type="date" name="data-corrida" id="data-corrida" [(ngModel)] = "dataCorrida">

        <label for="distancia">Distâncias Disponíveis</label>
        <input type="radio" id="5km" name="distancia" value="5KM" [(ngModel)] = "distancia5km"> 5km
        <input type="radio" id="10km" name="distancia" value="10KM" [(ngModel)] = "distancia10km"> 10km
        <input type="radio" id="25km" name="distancia" value="25KM" [(ngModel)] = "distancia25km"> 25km

        <div id="div-btns">
            <button type="submit" id="btnAdd">{{editar? 'Alterar': 'Cadastrar' }} Corrida </button>
            <button type="reset" id="btnLimpar">Limpar</button>
        </div>


    </form>



</div>